<div id="challenge-banner-container" class="challenge-banner {{ banner }}">
	<div class="challenge-banner-close">
		<a id="challenge-banner-close-button" href="#" title="Schließen">
			<div class="challenge-banner-close-button"></div>
		</a>
	</div>
	<a id="challenge-banner-link"
	   href="https://www.wikimedia.de/wikipedia-challenge?campaign={{ campaign }}">
		<div class="challenge-banner-inner">
			<!-- <div class="challenge-banner-space">
			</div> -->
			<div class="challenge-banner-title">
				<!-- 30 Tage im Kosmos von Wikipedia -->
				{{{ banner_title }}}
			</div>
			<div class="challenge-banner-banner">
				<span class="challenge-banner-banner-highlight">Blicke hinter die Kulissen</span> des größten Wissens-Projekts der Menschheit!
			</div>
			<div class="challenge-banner-button">
				&nbsp;Jetzt&nbsp;mitmachen&nbsp;
			</div>
		</div>
	</a>
</div>
