<div id="diversity-banner-container" class="diversity-banner">
	<a class="diversity-banner-close" id="diversity-banner-close-button" href="#" title="Schließen">
		<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1 1L10 10M1 10L10 1" stroke="black" stroke-width="2"/>
		</svg>
	</a>
	<div class="diversity-banner-content">
		<div class="diversity-banner-copy">
			<div class="diversity-banner-image">
				<svg width="60" height="63" viewBox="0 0 60 63" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M4 1H50V58H4V1Z" fill="white" stroke="black" stroke-width="2"/>
					<path d="M53 15H45.5L10 52.8542H0V60.5208L52 61L53 15Z" fill="white"/>
					<rect x="11" y="7" width="5" height="5" fill="white"/>
					<rect x="11" y="7" width="5" height="5" fill="white"/>
					<rect x="11" y="7" width="5" height="5" stroke="black" stroke-width="2"/>
					<path d="M11 17.5H16V22.5H11V17.5Z" fill="white"/>
					<path d="M11 17.5H16V22.5H11V17.5Z" fill="white"/>
					<path d="M11 17.5H16V22.5H11V17.5Z" stroke="black" stroke-width="2"/>
					<path d="M20 9H41" stroke="black" stroke-width="2"/>
					<path d="M20 20H41" stroke="black" stroke-width="2"/>
					<rect x="11.5" y="35.5" width="15" height="26" fill="#3366CC"/>
					<rect x="11.5" y="35.5" width="15" height="26" fill="#3366CC"/>
					<rect x="11.5" y="35.5" width="15" height="26" stroke="white" stroke-width="3"/>
					<rect x="27.5" y="24.5" width="15" height="37" fill="#3366CC"/>
					<rect x="27.5" y="24.5" width="15" height="37" fill="#3366CC"/>
					<rect x="27.5" y="24.5" width="15" height="37" stroke="white" stroke-width="3"/>
					<rect x="43.5" y="16.5" width="15" height="45" fill="#3366CC"/>
					<rect x="43.5" y="16.5" width="15" height="45" fill="#3366CC"/>
					<rect x="43.5" y="16.5" width="15" height="45" stroke="white" stroke-width="3"/>
				</svg>
			</div>
			<div class="diversity-banner-text">
				<p><strong>Short survey: The Wikidata Community in 2021</strong></p>
				<p>Help Wikimedia Deutschland and the rest of the Wikidata community to find out who edits Wikidata.  Fill out a 2-minute, anonymous survey (Available in
					<a href="https://wikimedia.sslsurvey.de/Wikidata_Community_in_2021/en">English</a>, <a href="https://wikimedia.sslsurvey.de/Wikidata_Community_in_2021/zh">Chinese</a>, <a href="https://wikimedia.sslsurvey.de/Wikidata_Community_in_2021/hi">Hindi</a>, <a href="https://wikimedia.sslsurvey.de/Wikidata_Community_in_2021/es">Spanish</a>, <a
							href="https://wikimedia.sslsurvey.de/Wikidata_Community_in_2021/pt">Portuguese</a>, <a href="https://wikimedia.sslsurvey.de/Wikidata_Community_in_2021/fr">French</a>, <a href="https://wikimedia.sslsurvey.de/Wikidata_Community_in_2021/ar">Arabic</a> and
					<a href="https://wikimedia.sslsurvey.de/Wikidata_Community_in_2021/de">German</a>)</p>
			</div>
		</div>
		<div class="diversity-banner-button">
			<a href="https://wikimedia.sslsurvey.de/Wikidata_Community_in_2021/en" id="diversity-banner-link" class="diversity-banner-link">Take survey →</a>
			<a href="https://www.wikidata.org/wiki/Wikidata:Usability_and_usefulness/2021-2-Survey" class="diversity-banner-privacy">privacy statement</a>
		</div>
	</div>
</div>
