<div id="banner-container" class="community-banner">
    <div class="banner-close">
        <a id="banner-close-button" href="#" title="Schließen"><div class="banner-close-button"></div></a>
    </div>

    <a class="banner-wrapper" href="https://de.wikipedia.org/wiki/Wikipedia:Umfragen/Technische_Wünsche_2019_Themenschwerpunkte">
        <div class="banner-logo-wrapper">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Technical_Wishes_Project_logo_%28for_light_background%29.svg">
        </div>
        <div class="banner-text-wrapper">
            <span class="banner-text-headline">In welchem Bereich braucht es technische Verbesserungen?</span>
            <span class="banner-text-content">
                In der Umfrage „Technische Wünsche“ stehen 13 Problemfelder zur Wahl.
                Alle Interessierten sind eingeladen, bis zum 30. Juni mit abzustimmen.
                Technikkenntnisse sind dafür nicht erforderlich.
            </span>
            <span class="banner-button">Jetzt abstimmen</span>
        </div>
        <div class="banner-image-wrapper">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Crane_with_question_mark.svg">
        </div>
    </a>
</div>