<div id="banner-container" class="community-banner">
    <div class="banner-close">
        <a id="banner-close-button" href="#" title="Schließen"><div class="banner-close-button"></div></a>
    </div>

    <a class="banner-wrapper" href="https://de.wikipedia.org/wiki/Wikipedia:Umfragen/Technische_Wünsche_2020_Themenschwerpunkte">

        <div class="banner-text-wrapper">
            <span class="banner-text-headline">{{{ banner_headline }}}</span>
            <span class="banner-text-content">
                {{{ banner_text }}}
            </span>
            <span class="banner-button">Jetzt Abstimmen</span>
        </div>
        <div class="banner-logo-wrapper">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Technical_Wishes_Project_logo_%28for_light_background%29.svg">
        </div>
    </a>
</div>
