$breakpoint_desktop_large: 2145px; /*1920px banner size*/
$breakpoint_desktop: 1350px; /*1125px*/
$breakpoint_tablet: 1059px; /*834px*/
$breakpoint_mobile_large: 577px; /*384px*/
$breakpoint_mobile: 513px; /*320px*/
