<div id="occasional-banner-container" class="occasional-banner">
	<a id="occasional-banner-close-button" href="#" title="Schließen">
		Close
	</a>
	<a id="occasional-banner-link" href="https://de.wikipedia.org/?banner=B20WMDE_oceditors_spring_2020_ctrl">
		Follow
	</a>
</div>