<div id="occasional-banner-container" class="occasional-banner {{ banner }}">
	<div class="occasional-banner-close">
		<a id="occasional-banner-close-button" href="#" title="Schließen">
			<div class="occasional-banner-close-button"></div>
		</a>
	</div>
	<a id="occasional-banner-link"
	   href="https://de.wikipedia.org/wiki/Wikipedia:Wikimedia_Deutschland/DeinEngagement?campaign={{ campaign }}">
		<div class="occasional-banner-inner">
			<div class="occasional-banner-space">
			</div>
			<div class="occasional-banner-title">
				<!-- Danke, deine Bearbeitungen verbessern Wikipedia! -->
			</div>
			<div class="occasional-banner-banner">
				<!-- Du bist nicht alleine: Förderangebote für Autorinnen und Autoren wie dich! -->
			</div>
			<div class="occasional-banner-illustration">
				<!-- illustration -->
			</div>
			<div class="occasional-banner-button">
				<!-- Her damit! -->
			</div>
		</div>
	</a>
</div>
