<div id="author-banner-container" class="author-banner">
    <div class="author-banner-close">
        <a href="#" title="Schließen"><div class="author-banner-close-button"></div></a>
    </div>

    <a class="author-banner-button-link" href="https://de.wikipedia.org/wiki/Wikipedia:Wikimedia_Deutschland/LerneWikipedia?campaign=WMDE_2018_sprbt1">
        <div class="author-banner-inner">
            <div class="author-banner-title">
                <div class="author-banner-title-inner">
                    Dein Beitrag macht <br> Wikipedia besser.
                </div>
            </div>
            <div class="author-banner-image">
                <div class="author-banner-image-inner"></div>
            </div>
            <div class="author-banner-button-wrapper">
                <div class="author-banner-button">
                    <div class="author-banner-button-inner">
                        Lerne bei Wikipedia mitzumachen
                    </div>
                </div>
            </div>
        </div>
    </a>
    <img id="author-banner-close-tracking" style="display: none;" src="" border="0" width="0" height="0" />
</div>