<div id="author-banner-container" class="author-banner">
    <div class="author-banner-close">
        <a id="author-banner-close-button" href="#" title="Schließen"><div class="author-banner-close-button"></div></a>
    </div>

    <a class="author-banner-button-link" href="https://de.wikipedia.org/wiki/Wikipedia:Wikimedia_Deutschland/Neue_Ehrenamtliche/FAQ?campaign=WMDE_neweditors_summer2018_3#Schutz-vor-Missbrauch">
        <div class="author-banner-inner">
            <div class="author-banner-title author-banner-title-long">
                <div class="author-banner-title-wrapper">
                    <div class="author-banner-title-inner">
                        <div class="author-banner-title-question">
                            Häufige Frage Nr. 8
                        </div>
                        <span>
                            Wie schützt sich Wikipedia <br> vor Missbrauch?
                        </span>
                    </div>
                </div>
            </div>
            <div class="author-banner-image">
                <div class="author-banner-image-inner"></div>
            </div>
            <div class="author-banner-button-wrapper">
                <div class="author-banner-button">
                    <div class="author-banner-button-inner">
                        Blick hinter die Kulissen <br> von Wikipedia
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>