<div id="author-banner-container" class="author-banner">
    <div class="author-banner-close">
        <a id="author-banner-close-button" href="#" title="Schließen">
            <div class="author-banner-close-button"></div>
        </a>
    </div>
    <a href="https://de.wikipedia.org/wiki/Wikipedia:Wikipedia_vor_Ort_2018?campaign=WMDE_neweditors_autumn_2018_lp1">
        <div class="author-banner-image">
            <div class="author-banner-inner">
                <div class="author-banner-title">
                    Wikipedia vor Ort
                </div>
                <div class="author-banner-text">
                    Am <strong>Sonntag, 28. Oktober <span class="author-banner-extra">2018</span></strong> kannst du die Menschen hinter Wikipedia kennenlernen.
                </div>
                <div class="author-banner-button">
                    Finde eine Veranstaltung<br class="mobile-break"> in deiner Nähe
                </div>
            </div>
        </div>
    </a>
</div>